{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'index/less/PetsPage.less' %}">
  <link rel="stylesheet/less" href="{% static 'core/less/styles/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/PetModal.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/AlertModal.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/LeftSideBar.less' %}" />
{% endblock %}

{% block title %}Страница питомцев{% endblock %}

{% block modal %}
  {% include 'core/modals/PetModal.html' %}
  {% include 'core/modals/AlertModal.html' %}
  {% include 'core/modals/LeftSideBar.html' with sideBarTitle="Питомцы" paths="index,profile,pets" %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with pageClassName="pets-page" title="pets" %}
{% endblock %}

{% block content %}
  {% for pet in pets %}
    <div
      class="pets-page__card-wrapper"
      onclick="onHandlerPetModalOpen('{{ forloop.counter0 }}')"
    >
      <div class="pets-page__card">
        <img class="pets-page__card-image" src="{{ pet.image }}" />
        <span class="pets-page__card-text">{{ pet.name }} - {{ pet.habitat.place }}</span>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block footer %}
  <form method="POST" class="pets-page__redirect-form">
    {% csrf_token %}
    <button type="submit" class="pets-page__create-pet-button">
      <i class="bi bi-plus pets-page__button-icon"></i>
      <span class="pets-page__button-text">Добавить питомца</span>
    </button>
  </form>
{% endblock %}

{% block script-files %}
  <script type="text/javascript" src="{% static 'core/js/SideBar.js' %}"></script>
  {{ pets|json_script:"data-pets" }}
  <script type="text/javascript" src="{% static 'index/js/PetsPage.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/PetModal.js' %}"></script>
{% endblock %}
