<div id="pet-modal" class="pet-modal">
  <div class="pet-modal__header">
    <button id="close-pet-modal-button" class="pet-modal__header-button">
      <div class="pet-modal__header-icon"></div>
      <div class="pet-modal__header-icon"></div>
    </button>
  </div>

  <div class="pet-modal__content">
    <img
      id="pet-image"
      class="pet-modal__image"
      src=""
      alt="pet image"
    />
    <b><h2 id="pet-name"></h2></b>
    <span id="pet-habitat"></span>
    <textarea
      id="pet-description"
      class="pet-modal__description"
      maxlength="255"
      readonly
    ></textarea>
  </div>
</div>
