@import '../main.less';

/* Default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: @primary-color;

  overflow: hidden;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  border: 0;

  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  background-color: inherit;

  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* Layout styles */
.page-layout {
  width: 100vw;
  height: 100vh;

  .flexible(stretch, space-between, column);

  &__header {
    .position(sticky, @left: 0, @top: 0, @right: 0);

    padding: 0 30px;
    width: 100%;
    background-color: @secondary-color;
    .border(solid, @border-color, 0 0 0.5px, 0 0 16px 16px);
  }

  &__content {
    padding: 15px 30px;
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  &__footer {
    .position(sticky, @left: 0, @bottom: 0, @right: 0);

    padding: 0 30px;
    width: 100%;
    background-color: @secondary-color;
    .border(solid, @border-color, 0.5px 0 0, 16px 16px 0 0);
  }

  &-modal {
    .position(absolute, 0, 0, 0, 0, 1);

    background-color: @black-color--blured;

    display: none;

    &--opened {
      animation: openModalLayout @default-animation-settings;
    }

    &--closed {
      animation: closeModalLayout @default-animation-settings;
    }
  }
}

@keyframes openModalLayout {
  from {
    background-color: transparent;
  }

  to {
    background-color: @black-color--blured;
  }
}

@keyframes closeModalLayout {
  from {
    background-color: @black-color--blured;
  }

  to {
    background-color: transparent;
  }
}